# MongoDB Connection
MONGODB_URI=mongodb+srv://admin:YOUR_PASSWORD@rabbit.blmhc1x.mongodb.net/tickets_app?appName=rabbit

# Або використовуйте DATABASE_URL замість MONGODB_URI
# DATABASE_URL=mongodb+srv://admin:YOUR_PASSWORD@rabbit.blmhc1x.mongodb.net/tickets_app?appName=rabbit

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Environment
NODE_ENV=development
